In [1]:
import gandula
from tqdm.auto import tqdm
import os
import sys
import pandas as pd
import numpy as np

In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
project_root = os.path.abspath(
    os.path.join("C:/Users/jllgo/OneDrive/Documentos/UFMG/MSc & MSI 2/MatchSegmentation")
)
if project_root not in sys.path:
    sys.path.append(project_root)

In [4]:
from src.data.loader import FramesLoader

In [5]:
DATA_PATH = '../data/raw/PL-22-23'
output_path = "../data/intermediate/PL-22-23"

In [6]:
games = os.listdir(DATA_PATH)
game_ids = [game.split('.')[0] for game in games]

In [7]:
frames_loader = FramesLoader(game_ids, DATA_PATH)
frames_loader.load(path=output_path)

Loading frames:   0%|          | 0/190 [00:00<?, ?it/s]

# Data Exploration

In [8]:
metadata_df = frames_loader.get()[0][0]
players_df = frames_loader.get()[0][1]

In [9]:
metadata_df[metadata_df['sequence']==1]

,match_id,frame_id,period,elapsed_seconds,home_has_possession,event_id,event_type,event_setpiece_type,event_player_id,event_team_id,event_start_frame,event_end_frame,possession_id,possession_type,possession_start_frame,possession_end_frame,sequence,version,video_time_milli
0,4436,1594,1,0.000000,1.0,4427560.0,FIRST_HALF_KICKOFF,KICK_OFF,1940.0,7.0,1594.0,1594.0,4245025.0,PASS,1594.0,1594.0,1.0,4.1.0,53186.520
1,4436,1600,1,0.199720,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53386.720
2,4436,1606,1,0.399920,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53586.920
3,4436,1612,1,0.600120,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53787.120
4,4436,1618,1,0.800321,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53987.321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,4436,2062,1,15.615135,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,68802.135
79,4436,2068,1,15.815336,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,69002.336
80,4436,2074,1,16.015536,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,69202.536
81,4436,2080,1,16.215736,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,69402.736
82,4436,2086,1,16.415936,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,69602.936

In [10]:
players_df['frame_id'] = players_df['frame_id'].astype(int)
players_df[players_df['frame_id'].between(1594, 2086)]

,elapsed_seconds,frame_id,match_id,period,shirt,x,y,team,ball_x,ball_y,...,ball_vz,ball_speed,ball_ax,ball_ay,ball_az,vx,vy,ax,ay,speed
0,0.000000,1594,4436,1,1,37.992,2.652,away,-2.43,0.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.199720,1600,4436,1,1,37.971,2.714,away,-5.24,0.83,...,0.000000,34.766179,-1041.894311,8.981848,0.000000,0.0,0.0,-0.898212,-9.880328,0.0
2,0.399920,1606,4436,1,1,38.016,2.722,away,-8.95,0.39,...,0.000000,36.859000,-1086.868694,-197.612490,0.000000,0.0,0.0,-52.096277,-12.574963,0.0
3,0.600120,1612,4436,1,1,38.197,2.791,away,-12.14,0.44,...,-0.599413,31.176658,-934.168133,-8.982386,-17.964772,0.0,0.0,-38.623102,-17.066022,0.0
4,0.800321,1618,4436,1,1,38.344,2.757,away,-15.01,0.30,...,0.000000,28.736581,-853.275513,-116.764018,0.000000,0.0,0.0,-58.382009,6.287293,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206088,15.615135,2062,4436,1,28,1.352,9.297,home,39.58,29.49,...,0.000000,0.000000,-269.463501,0.000000,-98.803284,0.0,0.0,-105.988977,-87.126532,0.0
206089,15.815336,2068,4436,1,28,1.742,9.426,home,40.47,29.47,...,0.000000,0.000000,-269.455425,0.000000,-98.800323,0.0,0.0,-134.727713,-49.400161,0.0
206090,16.015536,2074,4436,1,28,2.104,9.595,home,41.35,29.45,...,0.000000,0.000000,-260.473578,0.000000,-98.800323,0.0,0.0,-187.720613,-110.476724,0.0
206091,16.215736,2080,4436,1,28,2.465,9.730,home,42.24,29.43,...,0.000000,0.000000,-260.481384,0.000000,-98.803284,0.0,0.0,-112.276459,-5.389270,0.0
206092,16.415936,2086,4436,1,28,2.844,9.923,home,43.13,29.41,...,0.000000,0.000000,-260.481384,8.982117,-89.821167,0.0,0.0,-99.701495,-30.539197,0.0

In [11]:
metadata_df_concat = pd.concat([df[0] for df in frames_loader.get()])

print(f"Metadata DataFrame with all games created: {metadata_df.shape}")

Metadata DataFrame with all games created: (28450, 19)

In [21]:
metadata_df_concat['home_has_possession'].unique()

array([ 1., nan,  0.])

In [12]:
metadata_df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5534952 entries, 0 to 29479
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   match_id                int64
 1   frame_id                int64
 2   period                  int64
 3   elapsed_seconds         float64
 4   home_has_possession     float64
 5   event_id                float64
 6   event_type              object
 7   event_setpiece_type     object
 8   event_player_id         float64
 9   event_team_id           float64
 10  event_start_frame       float64
 11  event_end_frame         float64
 12  possession_id           float64
 13  possession_type         object
 14  possession_start_frame  float64
 15  possession_end_frame    float64
 16  sequence                float64
 17  version                 object
 18  video_time_milli        float64
dtypes: float64(12), int64(3), object(4)
memory usage: 844.6+ MB

In [13]:
metadata_df_concat[metadata_df_concat['match_id']==4436]

,match_id,frame_id,period,elapsed_seconds,home_has_possession,event_id,event_type,event_setpiece_type,event_player_id,event_team_id,event_start_frame,event_end_frame,possession_id,possession_type,possession_start_frame,possession_end_frame,sequence,version,video_time_milli
0,4436,1594,1,0.000000,1.0,4427560.0,FIRST_HALF_KICKOFF,KICK_OFF,1940.0,7.0,1594.0,1594.0,4245025.0,PASS,1594.0,1594.0,1.0,4.1.0,53186.520
1,4436,1600,1,0.199720,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53386.720
2,4436,1606,1,0.399920,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53586.920
3,4436,1612,1,0.600120,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53787.120
4,4436,1618,1,0.800321,1.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,1.0,4.1.0,53987.321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28445,4436,173856,2,2912.546001,0.0,4433336.0,ON_THE_BALL,None,168.0,2.0,173803.0,173869.0,NaN,nan,NaN,NaN,323.0,4.1.0,5801001.001
28446,4436,173862,2,2912.746201,0.0,4433336.0,ON_THE_BALL,None,168.0,2.0,173803.0,173869.0,NaN,nan,NaN,NaN,323.0,4.1.0,5801201.201
28447,4436,173868,2,2912.946401,0.0,4433336.0,ON_THE_BALL,None,168.0,2.0,173803.0,173869.0,NaN,nan,NaN,NaN,323.0,4.1.0,5801401.401
28448,4436,173874,2,2913.146602,0.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,323.0,4.1.0,5801601.602
28449,4436,173880,2,2913.346802,0.0,NaN,nan,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,323.0,4.1.0,5801801.802

In [14]:
metadata_df_concat.groupby('match_id').size().mean()

np.float64(29131.326315789473)

In [15]:
metadata_df_concat.groupby('possession_type').size()

possession_type
BALL_CARRY       1954
CHALLENGE       15649
CLEARANCE        1496
CROSS            1280
PASS            30674
REBOUND          1390
SHOT              821
nan           5481688
dtype: int64

In [16]:
metadata_df_concat.groupby('event_type').size()

event_type
END_OF_HALF                 51
FIRST_HALF_KICKOFF         194
ON_THE_BALL            1266986
OUT_OF_PLAY               2917
PBC_IN_PLAY                 15
PLAYER_OFF                  52
PLAYER_ON                   53
SECOND_HALF_KICKOFF         34
SUB                        321
VIDEO_MISSING            25463
nan                    4238866
dtype: int64

In [17]:
metadata_df_concat.groupby('event_setpiece_type').size()

event_setpiece_type
CORNER           311
DROP_BALL       1152
FREE_KICK        755
GOAL_KICK        474
KICK_OFF         319
None         1291824
PENALTY            7
THROW_IN        1244
nan          4238866
dtype: int64

### Data Treatment

In [18]:
metadata_df_concat.replace({'None': np.nan}, inplace=True)

In [19]:
# fill posession id between start and end frames

In [20]:
# remove corners, direct free kicks, penaltys