In [43]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
import os
import sys
from multiprocessing import Pool, cpu_count
from tqdm.auto import tqdm
import pandas as pd

In [45]:
import warnings
warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning)

In [46]:
project_root = os.path.abspath(
    os.path.join("C:/Users/jllgo/OneDrive/Documentos/UFMG/MSc & MSI 2/MatchSegmentation")
)
if project_root not in sys.path:
    sys.path.append(project_root)

In [47]:
from src.pass_networks.process_games import process_game
from src.pass_networks.process_games import load_game
from src.pass_networks.process_games import save_game
from src.pass_networks.process_match_info import get_match_info
from src.pass_networks.process_match_info import process_players
from src.pass_networks.process_intervals import get_interval_graphs
from src.pass_networks.process_intervals import load_graphs
from src.pass_networks.process_intervals import save_graphs

In [48]:
RAW_DATA_PATH = '../data/raw/PL-22-23'
INTERMEDIATE_DATA_PATH = '../data/intermediate/PL-22-23'
PROCESSED_DATA_PATH = "../data/processed/PL-22-23"
CSV_DATA_PATH = "../data/csv"

# 1. Get Data

In [49]:
raw_game_ids = os.listdir(RAW_DATA_PATH)
raw_game_ids = [int(game_id.split('.')[0]) for game_id in raw_game_ids]
len(raw_game_ids)

190

In [50]:
pre_processed_ids = os.listdir(INTERMEDIATE_DATA_PATH)
pre_processed_ids = [int(x.split(".")[0]) for x in pre_processed_ids]
len(pre_processed_ids)

175

In [51]:
processed_ids = os.listdir(PROCESSED_DATA_PATH)
processed_ids = [int(x.split(".")[0]) for x in processed_ids]
len(processed_ids)

175

In [52]:
erro = [4547,4458,4540,4524,4445,4596,4580,4437,4510,4509,4529,4600,4550,4499,4555]
ok = [4448,
 4493,
 4502,
 4551,
 4556,
 4566,
 4567,
 4570,
 4572,
 4574,
 4578,
 4579,
 4618,
 4619,]

In [53]:
not_pre_processed = [x for x in raw_game_ids if x not in ok and x not in erro][:25]
len(not_pre_processed)

30

In [54]:
not_processed = [x for x in raw_game_ids if x not in processed_ids and x in pre_processed_ids and x not in erro]
len(not_processed)

0

In [55]:
import time

In [56]:
matches = []

failed_matches = []


if len(not_processed) > 0:
    for game_id in tqdm(not_processed, desc="Processing Games", total=len(not_processed)):
        metadata_df, players_df, events_df = load_game((INTERMEDIATE_DATA_PATH, game_id))
        if events_df is None or (metadata_df.empty or players_df.empty or events_df.empty):
            failed_matches.append(game_id)
            continue
        else:
            matches.append((game_id,metadata_df, players_df, events_df))

if len(not_pre_processed) > 0:

    for game_id in tqdm(not_pre_processed, desc="Processing Games", total=len(not_pre_processed)):
        metadata_df, players_df, events_df = process_game((RAW_DATA_PATH, game_id))
        if events_df is None or (metadata_df.empty or players_df.empty or events_df.empty):
            time.sleep(60)
            continue
        else:
            matches.append((game_id,metadata_df, players_df, events_df))
            save_game(metadata_df,players_df,events_df,INTERMEDIATE_DATA_PATH,game_id)

Processing Games:   0%|          | 0/30 [00:00<?, ?it/s]

Loading frames from match 4436: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/170699 [00:00<?, ? frames/s]

Loading frames from match 4438: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/178903 [00:00<?, ? frames/s]

Loading frames from match 4439: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/173901 [00:00<?, ? frames/s]

Loading frames from match 4440: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/170271 [00:00<?, ? frames/s]

Loading frames from match 4441: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/171996 [00:00<?, ? frames/s]

Loading frames from match 4442: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/172458 [00:00<?, ? frames/s]

Loading frames from match 4443: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/198401 [00:00<?, ? frames/s]

Loading frames from match 4444: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/175556 [00:00<?, ? frames/s]

Loading frames from match 4446: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/181548 [00:00<?, ? frames/s]

Loading frames from match 4447: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/183570 [00:00<?, ? frames/s]

Loading frames from match 4449: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/174899 [00:00<?, ? frames/s]

Loading frames from match 4450: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/180368 [00:00<?, ? frames/s]

Loading frames from match 4451: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/178361 [00:00<?, ? frames/s]

Loading frames from match 4452: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/174479 [00:00<?, ? frames/s]

Loading frames from match 4453: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/182159 [00:00<?, ? frames/s]

Loading frames from match 4454: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/180391 [00:00<?, ? frames/s]

Loading frames from match 4455: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/182472 [00:00<?, ? frames/s]

Loading frames from match 4456: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/173211 [00:00<?, ? frames/s]

Loading frames from match 4457: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/173112 [00:00<?, ? frames/s]

Loading frames from match 4459: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/173976 [00:00<?, ? frames/s]

Loading frames from match 4460: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/171042 [00:00<?, ? frames/s]

Loading frames from match 4461: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/174716 [00:00<?, ? frames/s]

Loading frames from match 4462: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/173632 [00:00<?, ? frames/s]

Loading frames from match 4463: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/183343 [00:00<?, ? frames/s]

Loading frames from match 4464: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/145489 [00:00<?, ? frames/s]

Loading frames from match 4465: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/173177 [00:00<?, ? frames/s]

Loading frames from match 4466: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/177429 [00:00<?, ? frames/s]

Loading frames from match 4467: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/170047 [00:00<?, ? frames/s]

Loading frames from match 4468: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/175462 [00:00<?, ? frames/s]

Loading frames from match 4469: 0 frames [00:00, ? frames/s]

Validating frames:   0%|          | 0/178455 [00:00<?, ? frames/s]

In [57]:
players_info, teams_info, games_info = get_match_info(CSV_DATA_PATH)

# 2. Data Treatment

In [58]:
players_dfs = []
events_dfs = []
metadata_dfs = []
match_ids = []

for match_dfs in tqdm(matches, desc="Data Processing"):
    match_id, metadata_df, players_df, events_df = match_dfs
    players_match_info = players_info[players_info['match_id'] == int(match_id)].reset_index(drop=True)
    match_info = games_info[games_info['match_id'] == int(match_id)].reset_index(drop=True)

    players_df = process_players(players_df, match_info, players_match_info, metadata_df)

    players_dfs.append(players_df)
    events_dfs.append(events_df)
    metadata_dfs.append(metadata_df)
    match_ids.append(match_id)

players_df = pd.concat(players_dfs)
events_df = pd.concat(events_dfs)
metadata_df = pd.concat(metadata_dfs)

Data Processing:   0%|          | 0/30 [00:00<?, ?it/s]

In [59]:
players_interval_df = players_df.groupby(['match_id','interval_id','team_id','player_id','nickname','shirt']).agg(
    x=('x', 'mean'),
    y=('y', 'mean')
).reset_index()

players_interval_df['player_id'] = players_interval_df['player_id'].astype(int)
players_interval_df['match_id'] = players_interval_df['match_id'].astype(int)
players_interval_df['interval_id'] = players_interval_df['interval_id'].astype(int)
players_interval_df['team_id'] = players_interval_df['team_id'].astype(int)
players_interval_df['shirt'] = players_interval_df['shirt'].astype(int)

players_interval_df[players_interval_df['interval_id']==1]

MemoryError: Unable to allocate 575. MiB for an array with shape (75325278,) and data type int64

In [18]:
match_intervals = players_df[['match_id','interval_id','team_id','team']].drop_duplicates().reset_index(drop=True)
match_intervals = match_intervals[match_intervals['interval_id'].notna()].reset_index(drop=True)
match_intervals

      match_id  interval_id  team_id  team
0         4448          1.0      119  home
1         4448          1.0       12  away
2         4448          2.0      119  home
3         4448          2.0       12  away
4         4448          3.0      119  home
...        ...          ...      ...   ...
1361      4619         46.0       11  away
1362      4619         47.0        6  home
1363      4619         47.0       11  away
1364      4619         48.0        6  home
1365      4619         48.0       11  away

[1366 rows x 4 columns]

In [19]:
data = [{
    'match_id':row['match_id'],
    'interval_id':row['interval_id'],
    'team_id': row['team_id'],
    'player_id': -1,
    'nickname': 'Goal',
    'shirt': -1,
    'x': 52 if row['team']=='home' else -52,
    'y': 0
} for _,row in match_intervals.iterrows()]

data = pd.DataFrame(data)

players_interval_df = pd.concat([players_interval_df, data], ignore_index=True).sort_values(['match_id','interval_id','team_id','player_id']).reset_index(drop=True)
players_interval_df

,match_id,interval_id,team_id,player_id,nickname,shirt,x,y
0,4448,1.0,12,-1,Goal,-1,-52.000000,0.000000
1,4448,1.0,12,114,David de Gea,1,33.015056,0.427677
2,4448,1.0,12,118,Harry Maguire,5,6.677065,10.620675
3,4448,1.0,12,123,Luke Shaw,23,-2.138365,-18.528951
4,4448,1.0,12,127,Diogo Dalot,20,-13.896952,17.311514
...,...,...,...,...,...,...,...,...
16457,4619,48.0,11,371,Jack Grealish,10,29.978326,-9.142489
16458,4619,48.0,11,2005,Kalvin Phillips,4,27.098718,4.880408
16459,4619,48.0,11,4661,Manuel Akanji,25,29.843938,5.228580
16460,4619,48.0,11,4687,Erling Haaland,9,14.853543,6.482372
16461,4619,48.0,11,10717,Rico Lewis,82,25.863509,3.660387

In [20]:
players_interval_df = players_interval_df[players_interval_df['interval_id'].notna()].reset_index(drop=True)
players_interval_df

,match_id,interval_id,team_id,player_id,nickname,shirt,x,y
0,4448,1.0,12,-1,Goal,-1,-52.000000,0.000000
1,4448,1.0,12,114,David de Gea,1,33.015056,0.427677
2,4448,1.0,12,118,Harry Maguire,5,6.677065,10.620675
3,4448,1.0,12,123,Luke Shaw,23,-2.138365,-18.528951
4,4448,1.0,12,127,Diogo Dalot,20,-13.896952,17.311514
...,...,...,...,...,...,...,...,...
16457,4619,48.0,11,371,Jack Grealish,10,29.978326,-9.142489
16458,4619,48.0,11,2005,Kalvin Phillips,4,27.098718,4.880408
16459,4619,48.0,11,4661,Manuel Akanji,25,29.843938,5.228580
16460,4619,48.0,11,4687,Erling Haaland,9,14.853543,6.482372
16461,4619,48.0,11,10717,Rico Lewis,82,25.863509,3.660387

### Events

In [21]:
pass_df = events_df[(events_df['possession_type']=='PASS') & (events_df['outcome']=='C')][['match_id','player_id','receiver_id','event_id','possession_id','team_id']]
pass_df.head()

    match_id player_id receiver_id event_id possession_id team_id
7       4448      1331         131  4553597       4371250      12
8       4448       131        1331  4553604       4371258      12
10      4448      5063        5048  4553613       4371271     119
11      4448       131        7443  4553627       4371287      12
13      4448      5063        5074  4553702       4371364     119

In [22]:
carry_df = events_df[(events_df['possession_type']=='CARRY') & ((events_df['carry_type'].isin(['T','C'])) | ((events_df['carry_type']=='D')&(events_df['outcome'].isin(['K','B']))))][['match_id','player_id','receiver_id','event_id','possession_id','team_id']]
carry_df.head()

     match_id player_id receiver_id event_id possession_id team_id
141      4448      1331        1331  4555684       4373371      12
165      4448       131         131  4556073       4381061      12
177      4448       131         131  4556222       4381282      12
189      4448       132         132  4556303       4373978      12
322      4448       136         136  4557374       4407581      12

In [23]:
shots_df = events_df[(events_df['possession_type']=='SHOT')][['match_id','player_id','receiver_id','event_id','possession_id','team_id']]
shots_df.head()

     match_id player_id receiver_id event_id possession_id team_id
53       4448      5076          -1  4554376       4372034     119
68       4448      6020          -1  4554596       4372267      12
87       4448      6020          -1  4554860       4372527      12
121      4448     10703          -1  4555461       4373147      12
298      4448      6020          -1  4557132       4374791      12

In [24]:
network_events_df = pd.concat([pass_df,carry_df, shots_df]).reset_index(drop=True)
network_events_df.head()

   match_id player_id receiver_id event_id possession_id team_id
0      4448      1331         131  4553597       4371250      12
1      4448       131        1331  4553604       4371258      12
2      4448      5063        5048  4553613       4371271     119
3      4448       131        7443  4553627       4371287      12
4      4448      5063        5074  4553702       4371364     119

### Networks

In [25]:
network_events_df['match_id'] = network_events_df['match_id'].astype(float)
network_events_df['event_id'] = network_events_df['event_id'].astype(float)
network_events_df['possession_id'] = network_events_df['possession_id'].astype(float)
metadata_df['match_id'] = metadata_df['match_id'].astype(float)
metadata_df['event_id'] = metadata_df['event_id'].astype(float)
metadata_df['possession_id'] = metadata_df['possession_id'].astype(float)

network_frame_df = network_events_df.merge(metadata_df[['match_id','interval_id','frame_id','event_id','possession_id']], on=['match_id','event_id','possession_id'], how='left')
network_frame_df.head()

,match_id,player_id,receiver_id,event_id,possession_id,team_id,interval_id,frame_id
0,4448.0,1331,131,4553597.0,4371250.0,12,25.0,91685.0
1,4448.0,131,1331,4553604.0,4371258.0,12,25.0,91732.0
2,4448.0,5063,5048,4553613.0,4371271.0,119,25.0,90870.0
3,4448.0,131,7443,4553627.0,4371287.0,12,25.0,91908.0
4,4448.0,5063,5074,4553702.0,4371364.0,119,25.0,91778.0

In [26]:
# Group by match_id, interval_id, team_id, player_id, receiver_id to get the number of interactions between players

grouped_df = network_frame_df.groupby(['match_id','interval_id','team_id','player_id','receiver_id']).size().reset_index(name='count')
grouped_df['match_id']=grouped_df['match_id'].astype(int)
grouped_df['interval_id']=grouped_df['interval_id'].astype(int)
grouped_df['team_id']=grouped_df['team_id'].astype(int)
grouped_df['player_id']=grouped_df['player_id'].astype(int)
grouped_df['receiver_id']=grouped_df['receiver_id'].astype(int)

grouped_df.head()

   match_id  interval_id  team_id  player_id  receiver_id  count
0      4448            1      119        490         5063      1
1      4448            1      119       5057         5048      1
2      4448            1      119       5061         5065      1
3      4448            1      119       5063         5057      1
4      4448            1       12        118          127      2

In [27]:
grouped_df = grouped_df.merge(players_info[['match_id','player_id','nickname','shirt_number']], how='left', left_on=['match_id','player_id'], right_on=['match_id','player_id']).drop_duplicates().reset_index(drop=True)
grouped_df = grouped_df.merge(players_info[['match_id','player_id','nickname','shirt_number']], how='left', left_on=['match_id','receiver_id'], right_on=['match_id','player_id']).drop_duplicates().reset_index(drop=True)

grouped_df = grouped_df.rename(columns={'player_id_x':'player_id','nickname_x':'player_nickname','shirt_number_x':'player_shirt','nickname_y':'receiver_nickname','shirt_number_y':'receiver_shirt'})
grouped_df = grouped_df.drop(['player_id_y'], axis=1)

grouped_df['receiver_nickname'] = grouped_df['receiver_nickname'].fillna('Goal')
grouped_df['receiver_shirt'] = grouped_df['receiver_shirt'].fillna(-1)
grouped_df['receiver_shirt'] = grouped_df['receiver_shirt'].astype(int)

grouped_df.head()

,match_id,interval_id,team_id,player_id,receiver_id,count,player_nickname,player_shirt,receiver_nickname,receiver_shirt
0,4448,1,119,490,5063,1,Ben Mee,16,Mathias Jensen,8
1,4448,1,119,5057,5048,1,Rico Henry,3,David Raya,1
2,4448,1,119,5061,5065,1,Josh Dasilva,10,Christian Nörgaard,6
3,4448,1,119,5063,5057,1,Mathias Jensen,8,Rico Henry,3
4,4448,1,12,118,127,2,Harry Maguire,5,Diogo Dalot,20

# Graphs

In [28]:
graph_games = os.listdir(PROCESSED_DATA_PATH)
graph_game_ids = [game.split('.')[0] for game in graph_games]
print(f"Games to process: {len(graph_game_ids)}")

Games to process: 161

In [29]:
pre_processed_ids = [game_id for game_id in match_ids if game_id not in graph_game_ids]
print(f"Games to process graphs: {len(pre_processed_ids)}")

Games to process graphs: 14

In [30]:
match_ids

[4448,
 4493,
 4502,
 4551,
 4556,
 4566,
 4567,
 4570,
 4572,
 4574,
 4578,
 4579,
 4618,
 4619]

In [31]:
#graphs = []

# if len(graph_game_ids) > 0:

#     for game_id in tqdm(graph_game_ids, desc="Loading Graphs", total=len(graph_game_ids)):
#         match_graphs = load_graphs(game_id, PROCESSED_DATA_PATH)
#         graphs.append((task[1],match_graphs))

if len(pre_processed_ids) > 0:

    for game_id in tqdm(pre_processed_ids, desc="Processing Graphs", total=len(pre_processed_ids)):

        match_grouped_df = grouped_df[grouped_df['match_id']==int(game_id)].reset_index(drop=True)
        match_players_interval_df = players_interval_df[players_interval_df['match_id']==int(game_id)].reset_index(drop=True)

        match_graphs = get_interval_graphs(match_grouped_df, match_players_interval_df)
        save_graphs(game_id, PROCESSED_DATA_PATH, match_graphs)
        #graphs.append((game_id,match_graphs))

Processing Graphs:   0%|          | 0/14 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/50 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/50 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/50 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/50 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/49 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/50 [00:00<?, ?it/s]

Processing intervals:   0%|          | 0/48 [00:00<?, ?it/s]